<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-button (click)="onTakePictureCamera()">
      <ion-icon name="camera"></ion-icon>
    </ion-button>

    <ion-button (click)="onTakePictureLibrary()">
      <ion-icon name="albums"></ion-icon>
    </ion-button>
  </div>

  <ion-row>
    <ion-col>
      <div class="images">
        <div class="one-image" *ngFor="let img of croppedImagepaths">
          <img [src]="img" alt="" srcset="">
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
